@import url(../src/menu.css);

:root {
    --green: #99b898;
    --cream: #fecea8;
    --orange: #ff847c;
    --accent-dark: #73482F;
    --black: #1e1c1b;
    --white: #EDEBDF;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--cream);
    color: var(--white);
    font-family: 'Open Sans';
}


/* NAVAGATION */
.navbar {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: var(--black);
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 2rem;
    margin-left: 5vw;
}

/* HEADER */
.header-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    background-size: cover;
    background-image: linear-gradient(0deg, var(--cream), #e1ba9a);
    background-color: var(--cream);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.header-content h1 {
    width: 90%;
    margin: auto;
    margin-bottom: 10vh;
    padding-bottom: 1em;
	flex-wrap: nowrap;
    font-size: 4rem;
    line-height: 1em;
    font-weight: 500;
    color: var(--black);
    border-bottom: 5px solid var(--black);
}

.background-noise {
    opacity: 50%;
    position: absolute;
    mix-blend-mode: multiply;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
}

.page-content {
    width: 100%;
    min-height: 100vh;
    padding-top: 5vh;
    background-color: var(--black);
}

.page-content p {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3vw;
    font-weight: 300;
    text-underline-offset: 0.5vh;
}

.less-is-more {
    width: 90%;
    margin: auto auto 5vh;
    padding-bottom: 0.25em;
    font-size: 10vw;
    font-family: helvetica;
    line-height: 1em;
    letter-spacing: 0em;
    font-weight: 600;
    color: var(--black);
    border-bottom: 0.1em solid var(--black);
}

.less-is-more::after {
    content: "_";
    animation: blink 1s infinite;
}

.background-typography {
    position: relative;
    opacity: 10%;
    color: var(--white);
    font-family: Helvetica, sans-serif;
    font-size: 1200vw;
    text-align: center;
    overflow: hidden;
}

.seperator {
    width: 90%;
    height: 1em;
    margin: auto;
    border-bottom: 5px solid var(--white);
}


@keyframes blink {
    1% {
        opacity: 100;
    }
    49% {
        opacity: 100;
    }
    50% {
      opacity: 0;
    }
    99% {
        opacity: 0;
    }

}