:root {
    --background: #ffffff;
    --text: #000000;
    --switch-off: #000000;
    --switch-on: #ffffff;
  }

body {
    font-family: monospace;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

/*
.mainpage {
    margin-left: auto;
    margin-right: auto;
}
*/

.header-wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

.main-heading {
    font-size: 3rem;
    text-align: left;
    font-weight: 600;
}

.sub-heading {
    font-size: 2rem;
    font-weight: 300;
    text-align: left;
}

.top-content p {
    font-size: 2rem;
}

.flex-container {
    display: flex;
}
.column {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    border: 3px solid var(--text);
    font-size: 2rem;
}

.column ul {
    font-size: 1.5rem;
}

.column:last-child {
    border-left: none; /* Remove left border on the last column */
}

.diagonal-bkg {
    background-color: var(--background);
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(135deg, var(--text) 0, var(--text) 1px, var(--background) 0, var(--background) 50%);
}

.banner {
    background-color: var(--background);
    border: 3px solid var(--text);
    margin: 2rem;
    padding: 2rem;
}

.banner-center {
    background-color: var(--background);
    border: 3px solid var(--text);
    width: 30%;
    padding: 1rem;
}

.banner-heading {
    font-size: 2rem;
    text-align: center;
}

.mid-content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

/* Dark Mode CSS */
.switch {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-bottom: 2rem;
}
  
.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text);
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background);
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--text);
}

input:checked + .slider:before {
    transform: translateX(40px);
}
/*
body.dark-mode {
    background-color: #000000;
    color: #fff;
}
*/